name: Link Validator

on:
  workflow_dispatch:
  pull_request:
  schedule:
    - cron:  '30 6 1 * *'

permissions:
  contents: read

jobs:
  validate-links:
    runs-on: Akka-Default
    if: github.event.repository.fork == false
    steps:
      - name: Checkout Global Scripts
        # This MUST be before the main checkout or else the dynver will not work
        uses: actions/checkout@v6
        with:
          repository: akka/github-actions-scripts
          path: scripts
          fetch-depth: 0

      - name: Setup global resolver
        run: |
          chmod +x ./scripts/setup_global_resolver.sh
          ./scripts/setup_global_resolver.sh

      - name: Checkout
        # https://github.com/actions/checkout/releases
        uses: actions/checkout@v6
        with:
          # See https://github.com/actions/checkout/issues/299#issuecomment-677674415
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 100

      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v8.0.0
        uses: coursier/cache-action@c5ca79321d170b8a18c288d9cadc2a6037166d0f

      - name: Set up JDK 25
        # https://github.com/coursier/setup-action/releases
        # v2.0.2
        uses: coursier/setup-action@f7be3eb3dcef84a4e16fc8cd75c87beb2e5cbcc9
        with:
          jvm: temurin:1.25
          apps: cs

      - name: sbt site
        run: sbt docs/makeSite

      - name: Run Link Validator
        run: |
          VERSION=$(ls docs/target/site/libraries/akka-persistence-dynamodb)
          sed -e "s/snapshot/$VERSION/" scripts/link-validator.conf > /tmp/link-validator.conf
          cs launch net.runne::site-link-validator:0.2.5 -- /tmp/link-validator.conf
